.Centered {
  text-align: center;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.WidgetContainer {
  margin: auto;
  margin-top: 50px;
  max-width: 70vw;
  max-height: 20vh;
}

.appContainer {
  margin: 20px;
  padding: 10px;
}

.floatLeft {

}

.floatRight {
  
}
