.Centered {
  text-align: center;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.center {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.Container {
  margin: auto;
  max-width: 70vw;
  max-height: 20vh;
}

.WidgetContainer {
  background-color: #f2f2f2;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}

.appContainer {
  margin: 20px;
  padding: 10px;
}

.floatLeft {
  margin-right: 50px;
  display: table-row;
  font-size: 2em;
}

.progressBarContainer {
  margin: auto;
  display: table;
}

.progressBarPair {
  display: table-cell;
  width: 30vw;
}

/*.center div {
  margin-top: 50px;
  width: 100%;
  padding: 10px;
  text-align: center;
}*/
