.Centered {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  box-shadow: 0 8px 6px -6px #999;
  height: 50px;
  color: #8c8c8c;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.WidgetContainer {
  margin-top: 50px;
}
